fastapi
uvicorn
redis
huggingface_hub
psutil
tqdm
numpy
torch
torchvision
diffusers
transformers
tokenizer
datasets
accelerate
safetensors
gitpython
pynvml
opencv-python
opencv-contrib-python
imageio
imageio-ffmpeg
scipy
scikit-learn