fastapi
uvicorn
redis
huggingface_hub
psutil
tqdm
numpy
--extra-index-url https://download.pytorch.org/whl/cu121
torchvision
diffusers
transformers
tokenizer
datasets
accelerate
safetensors
gitpython
pynvml
opencv-python
opencv-contrib-python
imageio
imageio-ffmpeg
scipy
scikit-learn